<section class="contact-me">
    {{> section-title className="contact-me__title" text=title}}
    <form class="contact-me__form">
        {{#each fields}}
            <div class="{{wrapperClass}}">
                <p class="{{labelClass}}">{{label}}</p>
                <input class="{{inputClass}}" type="{{inputType}}" placeholder="{{placeholder}}" required>
            </div>
        {{/each}}
        <div class="contact-me__message">
            <p class="contact-me__message-title">{{messageLabel}}</p>
            <textarea class="contact-me__message-input" placeholder="{{messagePlaceholder}}" required></textarea>
        </div>
        <button class="contact-me__send" type="submit">{{submitLabel}}</button>
    </form>
</section>