<section class="projects">
    {{> section-title className="projects__title" text=title}}
    <p class="projects__subtitle">{{subtitle}}</p>

    <div class="projects__container">
        {{#each projects}}
            <div class="projects__project">
                <img src="{{image}}" alt="{{imageAlt}}" class="projects__project-image">
                <div class="projects__project-info">
                    <h4 class="projects__project-title">{{title}}</h4>
                    {{> icon-text-link
                        href=url
                        linkClass="projects__project-link"
                        iconSrc=repositoryIcon
                        iconAlt="GitHub icon"
                        iconClass="projects__project-link-icon"
                        label=../repositoryLabel
                    }}
                </div>
            </div>
        {{/each}}
    </div>

    {{> icon-text-link
        href=moreProjectsUrl
        linkClass="projects__more-link"
        innerWrapperClass="projects__more-btn"
        iconSrc=moreProjectsIcon
        iconAlt="GitHub icon"
        iconClass="projects__github-more-btn"
        label=moreProjectsLabel
    }}
</section>