<section class="education">
    {{> section-title className="education__title" text=title}}

    <div class="education__container">
        <div class="education__group">
            <h4 class="education__group-title">{{educationLabel}}</h4>
            <div class="education__group-info">
                <h4 class="education__card-title">{{university}}</h4>
                <p class="education__card-role">{{role}}</p>
                <p class="education__card-period">{{period}}</p>
            </div>
        </div>

        <div class="education__group">
            <h4 class="education__group-title">{{certificationsLabel}}</h4>

            <div class="education__certifications">
                {{#each certifications}}
                    <div class="education__certification-card">
                        <h4 class="education__card-title">{{title}}</h4>
                        <p class="education__card-org">{{organization}}</p>
                        <p class="education__card-topic">{{topic}}</p>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>

    <div class="education__more-btn">
        {{> icon-text-link
            href=linkedinUrl
            linkClass="education__more-link"
            iconSrc=linkedinIcon
            iconAlt="LinkedIn icon"
            iconClass="education__more-link-icon"
            label=moreInfoLabel
        }}
    </div>
</section>