body {
    margin: 0;
    padding: 0;
}

#home {
    display: flex;
    flex-direction: column;
    background-image: url("img/imagenHome.png");
    height: 100vh;
    align-items: center;
}

nav {
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav__name {
    color:#fff;
    font-size: 1.5rem;
    padding:2rem;
}
#nav__links {
    display: flex;
    gap: 2rem;
    padding: 2rem;
}
.nav__link {
    color: #fff;
    font-size: 1.5rem;
}
h1 {
    color:#fff;
    font-size: 6rem;
    margin: 1rem;
}
#home__intro{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

#home__intro__profession {
    color:#fff;
    font-size: 3rem;
    margin: 1rem;
}
.home__intro__phrase {
    color:#fff;
    font-size: 2rem;
    margin: 1rem;
}
#home__social-media {

}
#home__social-media__github {

}
#home__social-media__linkedin {

}
#home__social-media__email {

}
#home__contact {
    background-color: #4983F0;;
}
#home__contact__link {
    color:#fff;

}


#about { --placeholder: 0; }
#about__title { --placeholder: 0; }
#about__content { --placeholder: 0; }
#about__profile-photo { --placeholder: 0; }
#about__text { --placeholder: 0; }
#about__description { --placeholder: 0; }


#projects { --placeholder: 0; }
#projects__container { --placeholder: 0; }
.projects__container__project { --placeholder: 0; }
.projects__container__project__info { --placeholder: 0; }
.projects_btn-more-projects { --placeholder: 0; }


#abilities { --placeholder: 0; }
.abilities__columns { --placeholder: 0; }
.abilities__columns__column { --placeholder: 0; }
.abilities__columns__column__icons { --placeholder: 0; }
.abilities__icon { --placeholder: 0; }
.abilities-columns__column { --placeholder: 0; }
.abilities-columns__column__icons { --placeholder: 0; }
.abilities-card { --placeholder: 0; }
.abilities-icons { --placeholder: 0; }


#education { --placeholder: 0; }
#education__title { --placeholder: 0; }
.education__container { --placeholder: 0; }
.education__container__group { --placeholder: 0; }
.education__container__group__title { --placeholder: 0; }
.education__container__group__info { --placeholder: 0; }
.education__container__group__info__card-title { --placeholder: 0; }
.education__container__group__info__card-role { --placeholder: 0; }
.education__container__group__info__card-period { --placeholder: 0; }
.education__container__group__certifications { --placeholder: 0; }
.education__container__group__certifications__card { --placeholder: 0; }
.education__container__group__certifications__card__title { --placeholder: 0; }
.education__container__group__certifications__card__org { --placeholder: 0; }
.education__container__group__certifications__card__topic { --placeholder: 0; }
#education__btn-more-info { --placeholder: 0; }
#education__btn-more-info__link { --placeholder: 0; }
#education__btn-more-info__link-icon { --placeholder: 0; }


.footer { --placeholder: 0; }
.footer__container { --placeholder: 0; }
.footer__container__name { --placeholder: 0; }
.footer__container__contact { --placeholder: 0; }
#footer__container__contact__email { --placeholder: 0; }
.footer__container__copyright { --placeholder: 0; }
.footer__email { --placeholder: 0; }

