.home {
    display: flex;
    flex-direction: column;
    background-image: url("../../img/imagenHome.png"); /*OJO CON ESTO*/
    height: 100vh;
    box-sizing: border-box;
    padding-top: 5rem;
    align-items: center;
    justify-content: center;
}

.home__background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.home__intro{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
.home__profession {
    color:#fff;
    font-size: 3rem;
    margin: 1rem;
}
.home__phrase {
    color:#fff;
    font-size: 2rem;
    margin: 1rem;
}
.home__social-media {
    display:flex;
    flex-direction: row;
    gap:2rem;
    margin: 2rem;
}
.home__social-link{
    display:flex;
    width:3rem;
    height:3rem;
}
.home__contact {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4983F0;
    margin-top: 1rem;
    width: 10rem;
    height: 3rem;
    border-radius: 32px;
}
.home__contact-link {
    color:#fff;
    font-size: 1.25rem;
    text-decoration: none;
}

.home__intro h1 {
    color:#fff;
    font-size: 6rem;
    margin: 1rem;
}