<section class="abilities">
    {{> section-title className="abilities__title" text=title}}
    <div class="abilities__columns">
        {{#each columns}}
            <div class="abilities__column">
                <h4 class="abilities__column-title">{{title}}</h4>
                <div class="abilities__icons">
                    {{#each icons}}
                        <img src="{{src}}" alt="{{alt}}" class="abilities__icon">
                    {{/each}}
                </div>
            </div>
        {{/each}}
    </div>
</section>