.about {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 5rem;

    background-image: url('/components/about/image/fondoTech.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}
.about__title {
    font-size:2.5rem;
    color: #0249CC;
}
.about__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    padding: 0rem 5rem 5rem 5rem;
    line-height: 1.5;
}
.about__info{
    width:50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about__images {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130%;
}
.about__photo {
    width: 35%;
    height: auto;
    position: absolute;
    margin-bottom: 1rem;
}
.about__fernando-bg {
    width: 50%;
    height: auto;
}
.about__image-name{
    color:#0249CC;
}
.about__image-description {
    font-size: 1.5rem;
    margin:1rem;
}
.about__text {
    width: 40%;
    padding:2rem;
    border-radius: 2rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about__description {
    font-size: 1.5rem;
    margin: 1rem;
    text-align: center;
}