<footer class="footer">
    <div class="footer__container">
        <p class="footer__name">{{name}}</p>
        <p class="footer__role">{{role}}</p>
        <div class="footer__social-media">
            {{#each socialLinks}}
                {{> social-link-item
                    href=href
                    linkClass="footer__social-link"
                    iconSrc=icon
                    iconAlt=alt
                }}
            {{/each}}
        </div>
        <p class="footer__copyright">{{copyright}}</p>
    </div>
</footer>