.footer {
    background-color: #004789;
    padding: 1rem;
}
.footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer__name {
    font-size: 2rem;
    color:#fff;
    font-weight: normal;
    margin: 0;
    margin-top:1rem;
}
.footer__role {
    font-size: 1.5rem;
    color:#fff;
    font-weight: normal;
    margin:0;
    margin-top:2rem;
}
.footer__social-media{
    margin:0;
    display: flex;
    gap:3rem;
    margin:2rem;
}
.footer__social-link{
    display: flex;
    width:4rem;
    height:4rem;
}
.footer__links{
    display: flex;
    align-items: center;
    gap:2rem;
    margin-bottom: 1rem;
}
.footer__link{
    color: #fff;
    font-size: 1rem;
}
.footer__copyright {
    font-size: 1rem;
    color: #fff;
    margin-top: 1rem;
}
