.projects { 
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0rem 5rem 5rem 5rem;

    background-image: url('/img/fondoTech.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.projects__title {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    color: #0249CC;
}
.projects__subtitle {
    font-size: 1.25rem;
    color: #000;
    margin-bottom: 1rem;
}
.projects__container { 
    display:flex;
    flex-direction: row;
    gap: 2rem;
}
.projects__project { 
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);
    border-radius: 2rem;
    background-color: #fff;
}
.projects__project-image { 
    width: 100%;
    height: 100%;
}
.projects__project-info { 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}
.projects__project-title {
    font-size: 1.5rem;
}
.projects__project-link {
    display: flex;
    flex-direction: row;
    color: #000;
    align-items: center;
    gap:0.5rem;
}
.projects__project-link-icon {
    width: 3rem;
    height: 3rem;
}
.projects__more-btn { 
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4983F0;
    width: 12rem;
    height: 3rem;
    border-radius: 32px;
}
.projects__github-more-btn {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
}
.projects__more-link {
    color:#fff;
    text-decoration: none;
}